@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 0 0% 100%;
  --background: 0 0% 0%;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  /* Headline customization */
  .headline {
    @apply text-white font-semibold leading-normal;
  }
  .ock-font-family.font-semibold.leading-normal {
    color: white !important; /* Force text color to white */
  }
}
